<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "accounts/style.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
      {% comment %} action="{% url 'my-account' %}" - form отправляет данные по адресу в функцию my_account {% endcomment %}
      <form action="{% url 'my-account' user.id %}" class="login-form" method="post">
        {% csrf_token %}
        <h1>Авторизация</h1>

        <div class="txtb">
          {% comment %} username = request.POST['username'] {% endcomment %}
          <input type="text" name="username">
          <span data-placeholder="Логин"></span>
        </div>

        <div class="txtb">
          {% comment %} password = request.POST['password'] {% endcomment %}
          <input type="password" name="password">
          <span data-placeholder="Пороль"></span>
        </div>

        <input type="submit" class="logbtn" value="Войти">

        <div class="bottom-text">
          У вас нет аккаунта? <a href="{% url "register" %}">Регистрация</a>
        </div>

      </form>

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>


  </body>
</html>
