<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% extends 'index.html' %} {% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %} {{ form.as_p }}
        <button name='submit' value="{% url 'index' %}">Зарегестрироваться</button>
        <input type="hidden" name='next' "/>
    </form>
    {% endblock content %}
</body>

</html>